---
layout: layouts/tpl.liquid
permalink: "protected/index.html"
seoTitle: Embedded Bore Planning Tool
metaDescription: Helping directional drillers increase efficiency and stay safe on the job while navigating obstacles along their bore path.
primaryTitle: Embedded Bore Planning App
---
<section id="lede" class="page-margin contained">
    <h1>{{ primaryTitle }}</h1>
    <p class="big-text-20 summary">{{ metaDescription }}</p>
    <div class="summary-list">
        <span class="small-text-14 mono eyebrow">Team</span>
        <ul class="bullet-list">
            <li>Product Owner</li>
            <li>Tech Lead</li>
            <li>Engineers (6)</li>
            <li>Delivery Lead</li>
            <li>UX Researcher</li>
            <li>UX Designer (Me)</li>
    </div>
    <div class="summary-list">
        <span class="small-text-14 mono eyebrow">Role & Activities</span>
        <ul class="bullet-list">
            <li><a href="#user-research">User Research</a></li>
            <li><a href="#wireframing">Wireframing</a></li>
            <li><a href="#ui-design">Visual/UI Design</a></li>
            <li>Icon Design</li>
            <li><a href="#interaction-design">Interaction Design</a></li>
            <li>Prototyping</li>
            <li><a href="#user-testing">User Testing</a></li>
        </ul>
    </div>
</section>

<div class="large swiper" css-mode="true">
    <ul class="swiper-wrapper">
        <li class="swiper-slide">
            <img src={{ "/images/bore/banner-bore-device.jpg" | url }} alt="main app screen on a rugged computer monitor with a gloved finger selecting an import option">
        </li>
        <li class="swiper-slide">
            <img src={{ "/images/bore/banner-bore-plan.jpg" | url }} alt="example of a simple underground bore plan with left navigation drawer open">
        </li>
        <li class="swiper-slide">
            <img src={{ "/images/bore/banner-bore-icons.jpg" | url }} alt="a series of custom icons created for the project">
        </li>
        <li class="swiper-slide">
            <img src={{ "/images/bore/banner-bore-launch.jpg" | url }} alt="view of the initial app screen with a launcher toolbar at the bottom">
        </li>
    </ul>
    <button class="swiper-button-prev"></button>
    <button class="swiper-button-next"></button>
  <div class="swiper-pagination"></div>
</div>

<section class="page-margin contained">
    <span class="small-text-14 mono eyebrow">Challenge</span>
    <h2>How might we help directional drillers get back on plan when they accidentally veer off course?</h2>
    <p>Horizontal directional drilling (HDD) or directional boring is something you may have  seen but never paid much attention to. It’s a method of installng underground utilities without needing to dig a trench or pathway to place the cables or pipe.</p>
    <p>In it’s simplest form, there are as few as  two crew members – one on the drill rig forcing large rods into the Earth to create a hole, and one out in front with something that looks like a metal detector, which is able to tell where the drill head is underground. This last person is called a locator, and they relay the information about the drill head to the drill operator in order to steer and create the hole.</p>
    <p>A global industrial equipment manufacturer wanted to update it’s propriatary on-rig directional drilling software and include a new a feature that alerts and assists operators when the intended trajectory of their drill has changed while it’s moving underground.</p>
</section>

<figure class="large double-img page-margin">
    <img class="border" src={{ "/images/bore/boreassist-screen.jpg" | url }} loading="lazy"alt="original on-rig interface showing a bore plan, drill head position, and machine-related information">
    <img class="border" src={{ "/images/bore/boreassist-on-rig.jpg" | url }} loading="lazy" alt="the original on-rig interface shown on a small digital screen installed on a drill rig">
    <figcaption class="caption small-text-14 mono">Examples of the embedded app interface prior to our work on the project.</figcaption>
</figure>

<section class="page-margin contained">
    <p>This project remains ongoing. However my contributions in the earlier phases came within the first 6 months, approximately. During this time we worked on a 2-week sprint cadence, ending each sprint with a demo of our team’s progress.</p>
</section>

<section class="page-margin contained">
    <span class="small-text-14 mono eyebrow">Research</span>
    <h2>Unpacking the problem</h2>
    <p>We were first given a wish list of sorts that contained a mix of existing and new software features, including an auto-correct feature aimed at helping drillers get back on their planned path.</p>
    <p>In order to learn more about the problem domain, and, more importantly, understand the perceived user value behind these features, we spent the first 2 weeks conducting remote stakeholder interviews. Specifically, we spoke with people on the company's commercialization team who had frequent first-hand experience with customers and an understanding of the software.</p>
    <p>Through these conversations we were able to prioritize the features with our client product owner in order to form a high-level backlog for our development team. We also received a demo of the existing software to understand what would be essential to maintain market parity. This kicked off our crash course in directional drilling.</p>
</section>

<section class="page-margin contained">
    <h2>Ideation</h2>
    <p>While familiarizing ourselves with the industry and the needs of a drilling crew out in the field, I started sketching out ideas for the new interface. Without much knoweldge to that point of how a bore plan is created and executed, I began by brainstorming how we could let a drill operator know something significant happened and how they might be able to act on that information.</p>
    <p>The existing software allows drill operators to see their plan on a screen mounted on the rig, and a third-party tool helps drillers see where the drill head is at in real time. This got us thinking of how we might merge this information to create an experience similar to turn-by-turn directions in something like Google Maps or Waze.</p>
</section>

<figure class="small page-margin">
    <img class="border" src={{ "/images/bore/bore-ui-sketches.jpg" | url }} loading="lazy" alt="very early sketches capturing information that is essential to drillers and how we might indicate when their drill path has changed">
</figure>

<section class="page-margin contained">
    <h2 id="user-research">User research</h2>
    <p>To enhance our knowledge and better understand who would be using this software, my research colleague and I attended a day-long HDD training seminar at a local community college. An extremely eye opening opportunity, we talked to a variety of vendors and introduced ourselves to a couple drill crews who let us ask them questions and get feedback on our early ideas for the auto-correct feature.</p>
</section>

<figure class="large double-img page-margin">
    <img class="border" src={{ "/images/bore/poc-off-plan.jpg" | url }} loading="lazy" alt="an early wireframe we showed to drillers to ask about the likelihood of going off plan">
    <img class="border" src={{ "/images/bore/poc-corrected-plan.jpg" | url }} loading="lazy" alt="an early wireframe we showed to drillers to ask about how they get back on plan">
</figure>

<section class="page-margin contained">
    <p>We learned in these conversations how drillers currently solve the problem of going off plan – sometimes intentionally – and also that large and small crews seemed to operate in significantly different ways when problems arise. Invigorated by these insights, we sought to talk to more crews of varying sizes and work in different soil types.</p>
    <p>We were connected with a handful of drillers and foremen from across the country. To keep track of their stories, we created a journey map, similar to a game board, for plotting important information that came up during our conversations. We printed icons on different colored stickets to represent key moments and then wrote in the details from beginning to end. This kept the conversation fluid and showed us where we may need to probe further in real time.</p>
</section>

<figure class="large double-img page-margin">
    <img class="border" src={{ "/images/bore/journey-board-nightmare.jpg" | url }} loading="lazy" alt="a Candyland-style customer journey map detailing a nightmarish drill job under a large canal">
    <img class="border" src={{ "/images/bore/journey-board-easy.jpg" | url }} loading="lazy" alt="a Candyland-style customer journey map completed during an interview with a driller about an easy gas line project">
    <figcaption class="caption small-text-14 mono">We created Candyland-style journey maps to fill in various plot points as drillers told us about complex &amp; challenging drilling jobs during discovery interviews.</figcaption>
</figure>

<section class="page-margin contained">
    <span class="small-text-14 mono eyebrow">Process</span>
    <h2 id="wireframing">Wireframing the interface</h2>
    <p>Armed with the context of how drill crews perform their jobs and analyze problems, I began blocking out various screens in Adobe XD. Our client was already adopting Google’s Material Design language for many of it’s newer apps and websites, so I used the Google guidelines and patterns for a first pass through the key features we were working on.</p>
    <p>Our team had access to a rugged PC setup identical to what is mounted on a rig, and I was able to use the touch screen as a second monitor to display the wireframes and grayscale screens so that we could test font size, contrast, target area, and overall layout.</p>
    <p>This became a valuable focal point within our team space for facilitating conversations with developers and our stakeholders during sprint demos around expected behavior.</p>
</section>

<figure class="large double-img page-margin">
    <img src={{ "/images/bore/bore-mockup-display.jpg" | url }} loading="lazy" alt="tbd">
    <img src={{ "/images/bore/bore-device-test.jpg" | url }} loading="lazy" alt="tbd">
</figure>

<section class="page-margin contained">
    <h2 id="interaction-design">The FAB wheel</h2>
    <p>As the interface design matured, my research colleague and I thought about how we could make the main view of the plan cross section more actionable. Using what we learned, we talked through the actions a user may want to take when looking at the plan. We further explored how the touch screen could operate as a means of progressive disclosure, and that led us to the FAB (floating action button) wheel.</p>
    <p>Depending on the screen or object selected, different actions would be shown to the user. During my time on the project there was only a need for a 2-button and 4-button option. However, l also modeled out how other wheels would look to help my team and other designers who come on to support the project later.</p>
    <p>The ticky part came in selecting proper icons so that users were provided the correct affordance for each button. In the beginning, we were nearly spot on, but I made a few iterations over the course of several user testing sessions to make sure each icons was very clear.</p>
</section>

<figure class="large stacked-imgs page-margin">
    <img src={{ "/images/bore/FAB-wheel.gif" | url }} loading="lazy" alt="tbd">
    <img class="darken" src={{ "/images/bore/FAB-wheel-examples.jpg" | url }} loading="lazy" alt="tbd">
</figure>

<section class="page-margin contained">
    <h2>Testing outdoors</h2>
    <p>Once I got the look and feel to a branded state, I brought the rugged PC home to examine the contrast and readability of the interface on a bright, sunny day. I managed to test the display using it’s default factory settings, as well as at 100-percent brightness. These tests led me to increasing in the minimum font size and darkening of some colors that had already met WCAG standards but were still diffult to see in full sunlight. </p>
</section>

<figure class="med page-margin">
    <img src={{ "/images/bore/bore-device-outside.jpg" | url }} loading="lazy" alt="tbd">
    <figcaption class="caption small-text-14 mono">Creating a new bore plan outside with the screen display at 100 percent brightness.</figcaption>
</figure>

<section class="page-margin contained">
    <h2 id="user-testing">Iterative testing with users</h2>
    <p>We were able to do in-person tests with a couple local drilling companies, as well as a handful of company employees who work on the manfucaturing and testing of drilling equipment. However, we also did remote user testing using an Adobe XD prototype over Zoom with 8 participants in the U.S. and Canada.</p>
    <p>Leading up to these remote sessions, I became the lone UX representative on the team and assumed the responsibilities of recruiting users and coordinating calendars in addition to the testing itself. I tested with each remote user at least twice – a couple 3 times – though they saw different features each time.</p>
    <p>Each feature I designed for testing was closely associated with a specific scenario, and I would provide participants with reference materials for context, such as a fake visual of an obstacle or mock up plans to edit. Sometimes a feature would still be an early idea, but I would test general usability and also ask for contextual feedback.</p>
    <p>The learnings from this were incredibly valuable, and I was able to make iterative changes on a weekly basis. This helped me understand at granular level how a drill operator or crew supervisor thinks and allowed me to closely map the interface to their mental model.</p>
    <blockquote class="callout page-margin contained">
    Thanks to my frequent interactions with users, by the end of my time with the team, our product owner’s supervisor commented that I knew more about HDD than some of their employees.
    </blockquote>
</section>

<figure class="large page-margin">
    <img class="border" src={{ "/images/bore/bore-remote-testing.png" | url }} loading="lazy" alt="tbd">
</figure>

<section class="page-margin contained">
    <h2>Additional design efforts</h2>
    <p>While revamping the embedded app started as the primary objective, our team was also tasked with leveraging the Windows ecosystem to create a branded, pseduo operating system so only the installed apps could be accessed from the machine.</p>
    <p>A persistent launch bar, fixed to the bottom of the screen, was created to provide quick access to all the apps installed on the device and offer a means to toggle between them while out in the field. This was the first deliverable our team completed so that other developers in the company's IT department could immediately adopt it and build companion apps.</p>
    <p>Our team also simultaneously worked on a native mobile app that had many of the same basic features as the embedded solution. A lot of the user feedback gathered helped influence what features would be essential for a MVP and what could be possibly offered behind a paywall. This app went live in the summer of 2019 and is called <a href="https://apps.apple.com/us/app/boreplan/id1467957378" target="_blank" title="BorePlan on the App Store">BorePlan, available in the Apple and Android app stores today</a>.</p>
</section>

<section class="page-margin contained">
    <span class="small-text-14 mono eyebrow">Outcome</span>
    <h2 id="ui-design">Going full bore</h2>
    <p>Not only is the new embedded app branded and better organized visually, it also gives users the freedom to create a bore plan directly on the drill. User can edit imported or locally-created plans if they happen to run into issues during execution, then they can be exported onto a portable USB drive and added to printed project reports or other deliverables once the work is complete.</p>
    <p>We also leverage a lot of the same information this equipment manufacturing company requests from users in the Projects web app around materials and hardware, which allows the system to make quick calculations, which were previously done manually by the driller or another crew member. Overall, the goal was to lower the barrier to entry for smaller crews who may not have access to the same resources available to larger companies.</p>
</section>

<figure class="med double-img page-margin">
    <img src={{ "/images/bore/VMR-RigSettings.jpg" | url }} loading="lazy" alt="tbd">
    <img src={{ "/images/bore/VMR-Modal.jpg" | url }} loading="lazy" alt="tbd">
</figure>

<figure class="med page-margin">
    <img src={{ "/images/bore/VMR-Home.jpg" | url }} loading="lazy" alt="tbd">
</figure>

<figure class="med double-img page-margin">
    <img src={{ "/images/bore/VMR-OpenFile.jpg" | url }} loading="lazy" alt="tbd">
    <img src={{ "/images/bore/VMR-2FAB.jpg" | url }} loading="lazy" alt="tbd">
</figure>

<figure class="med page-margin">
    <img src={{ "/images/bore/VMR-MudMix.jpg" | url }} loading="lazy" alt="tbd">
</figure>

<section class="page-margin contained">
    <span class="small-text-14 mono eyebrow">Reflections &amp; Learnings</span>
    <h2>What I liked</h2>
    <p>Emebedded apps were a new frontier for me. I’d mostly designed several web systems leading up to this project, so I enjoyed exploring a different platform and understanding what the possibilities and constraints were when crafting a new UI. Having collaborative teammates also help – especially when they ran into issues and we were able to research and talk through what would be possible to achieve the most desirable experience.</p>
    <h2>What I learned</h2>
    <p>I learned a lot about directional drilling – more than I ever thought I would or could. I think this is where my experience as a journalist benefits me as a UX designer. At the beginning it seemed like there was so much to learn in order to deliver a great product, but persistence and having a client team and users out in the field who were happy to educate me took me a long way. I will always remember what the colored utility flags mean when I see them on the side of the road.</p>
    <h2>What I lacked</h2>
    <p>For a while, our team lacked velocity from a delivery standpoint. While I was able to execute from a design perspective, it took several sprints for the development to catch up. By the end of my time with the team, I was already exploring feature ideas with users that wouldn’t be groomed and put in the backlog for many months. This made it challenging to maintain the same level of collaboration towards the end.</p>
    <h2>What I longed For</h2>
    <p>As I started to roll off the project, the team was in the home stretch of delivering the mobile app. I wished I could have stayed on a bit longer to provide QA or conduct user testing prior to the app going live in the app stores because there are some subtle UI differences I would have advocated against to maintain consistency with what was coming in the embedded app. All of my user testing was with a design prototype too, so it would have been great to test the real product with those same users.</p>
</section>