---
layout: layouts/tpl.liquid
seoTitle: Website Redesign Des Moines Performing Arts
metaDescription: Improving the user experience and making a design system for central Iowa’s largest arts and entertainment organization
primaryTitle: Des Moines Performing Arts Redesign
ogImagePath: '/images/dmpa/og-image-dmpa.jpg'
---
<section id="lede" class="page-margin contained">
	<h1>{{ primaryTitle }}</h1>
        <p class="summary big-text-24">{{ metaDescription }}</p>
	<div class="summary-list">
        <span class="small-text-16 mono eyebrow">Team</span>
        <ul class="bullet-list">
            <li>Tech Lead</li>
            <li>Project Manager</li>
            <li>Product Owner</li>
            <li>Designer (Me)</li>
        </ul>
    </div>
    <div class="summary-list">
        <span class="small-text-16 mono eyebrow">Role & Activities</span>
        <ul class="bullet-list">
            <li><a href="#ooux">OOUX</a></li>
            <li><a href="#wireframing">Wireframing</a></li>
            <li><a href="#ui-design">Visual/UI Design</a></li>
            <li><a href="#interaction-design">Interaction Design</a></li>
            <li>Prototyping</li>
            <li><a href="#front-end">Front End Development</a>
        </ul>
        <span class="eyebrow" data-hidden="hidden">Agency</span>
        <span data-hidden="hidden">Visionary Services</span>
    </div>
</section>

<div class="large swiper" css-mode="true">
    <ul class="swiper-wrapper">
        <li class="swiper-slide">
            <img src={{ "/images/dmpa/banner-dmpa-page.png" | url }} alt="mockup of the performing arts donor information page">
        </li>
        <li class="swiper-slide">
            <img src={{ "/images/dmpa/banner-dmpa-details.png" | url }} alt="a cropped view of an event detail page mockup">
        </li>
        <li class="swiper-slide">
            <img src={{ "/images/dmpa/banner-dmpa-events.png" | url }} alt="mockup of the events list page">
        </li>
    </ul>
    <button class="swiper-button-prev"></button>
    <button class="swiper-button-next"></button>
  <div class="swiper-pagination"></div>
</div>

<section class="page-margin contained">
    <span class="small-text-16 mono eyebrow">Challenge</span>
    <h2>How might we redesign a website nimble enough to handle frequently changing content?</h2>
    <p>Following the announcement of “Hamilton,” the musical, as part of its 2017-2018 season ticket package, Des Moines Performing Arts (DMPA) identified an opportunity to refocus the visual direction of its brand – beginning with its website.</p>
    <p>At the time, DMPA managed its online content through a single centralized system. That content was then distributed to the main website, as well as a stripped-down mobile site. This led to a fragmented experience and proved underwhelming for the growing number of mobile users.</p>
    <p>The content management system also limited how the DMPA marketing team posted events, often preventing marquee performances from being unique, engaging focal points online. The site itself didn’t offer users an easy way to explore either, instead requiring users to dig for related events.</p>
    <p>The redesign coincided with a switch to a new third-party ticketing platform, which needed to be completed before the fall when general public tickets for “Hamilton” were scheduled to go on sale.</p>
    <p>In total, the project timeline was about 9 months from kickoff to launch.</p>
</section>

<section class="page-margin contained">
    <span class="small-text-16 mono eyebrow">Outcome</span>
    <h2>A Responsive, modular design system</h2>
    <p>By understanding the life cycle of event-related content and the organization’s immediate plans for growth, I built a modular design system that eliminated the need for separate desktop and mobile web experiences. This system also provided the marketing staff more flexibility and freedom when publishing events online.</p>
    <p>The design borrows from the visual language used in the DMPA donor-focused publication, Cue, which launched around the same time as the updated site. This helped establish brand alignment between the organization’s two highest-value customer touch points. </p>
</section>

<figure class="large page-margin">
    <img class="multiply" src={{ "/images/dmpa/dmpa-device-mockups.jpg" | url }} loading="lazy" alt="device mockups showing the proposed website design on a laptop, tablet, and smartphone">
</figure>

<section class="page-margin contained">
    <span class="small-text-16 mono eyebrow">Process</span>
    <h2 id="ooux">Seeing the forest for the trees</h2>
    <p>During stakeholder interviews, I learned that an event is not always defined as a live performance. The organization operates more than the Civic Center, which hosts all the Broadway shows. And thanks in large to a new multifunctional outdoor community space, not all events are ticketed.</p>
    <p>I worked with the client team to identify attributes shared by all the event types and explored what distinguished one type from another. This helped uncover another finding: Within the organization, events have different stages, such as unannounced, published but tickets unavailable, and ticket sales open to the public.</p>
    <p>This got me thinking about an tackling the redesign from an Object-Oriented UX approach, which approaches content as a system of interrelated building blocks. Events play a large role in the DMPA ecosystem, serving as the primary content for most areas of the site. They are a natural hub for finding information about the venue, becoming a season ticket holder, and discovering related events.</p>
    <p>Mapping the relationships an event has with other key parts of the site helped reframe early design conversations to be about content.</p>

    <blockquote class="callout page-margin contained">
        Despite some initial resistance and early desire to “see the new design,” this process increased conversations about design beyond the visuals – ultimately setting the tone for future design decisions. 
    </blockquote>
</section>

<section class="page-margin contained">
    <h2 id="wireframing">The content creator as a primary user</h2>
    <p>Wireframing these content objects brought to light many business requirements influencing how an event might be displayed to the public. Getting something out earlier with just a bit of information had more value than waiting until all details are perfected and finalized.</p> 
    <p>This understanding helped stakeholders agree early on about what was needed when creating and managing events internally, and guided our development team in identifying which pieces of content were reusable or made up of other components.</p>
</section>

<figure class="med page-margin">
    <img class="multiply" src={{ "/images/dmpa/color-coded-wireframes.jpg" | url }} loading="lazy" alt="grayscale wireframes showing how information on the venue, series, and event pages are connected">
    <figcaption class="small-text-16 mono caption">A color-coded visual showing how information on the Venue, Series, and Event pages are connected.</figcaption>
</figure>

<section class="page-margin contained">
    <h2 id="ui-design">Look and feel</h2>
    <p>Crafting the new look was an iterative process. Each version I presented to stakeholders consisted of 3 desktop mockups and a mobile version of one of the desktop pages.</p>
    <p>Because the updated content management system would allow DMPA staff to customize pages in any number of ways, the mission was to represent key components and illustrate how the design would feel consistant.</p>
    <p>While some pages, like performance details, had a certain default structure, the modules used to build the template could be repeated elsewhere if desired.</p>
</section>

<figure class="large double-img page-margin">
    <img src={{ "/images/dmpa/dmpa-homepage.jpg" | url }} loading="lazy" alt="mockup of the new website's homepage showing a banner image and a grid of events">
    <img src={{ "/images/dmpa/dmpa-cowels-event.jpg" | url }} loading="lazy" alt="mockup of information for an outdoor summer event">
</figure>

<section class="page-margin contained">
    <h2 id="front-end">The building blocks</h2>
    <p>Once DMPA approved the overall look and feel, it was time to disscet the mockups into reusable UI modules. This involved extrapolating the design for components that weren’t represented in the mockups, as well as rendering the more complex components at various grid widths to ensure content would fit and maintain readablity.</p>
    <p>A few components required different styling when smaller and viewed on a mobile device because it lacked the necessary affordances. While mockups were made to help stakeholders visualize what they would look like in a static formay, I went a step further and coded the experience on CodePen to provide a realistic representation of the direction for the design. </p>
</section>

<figure class="large double-img page-margin">
    <img src={{ "/images/dmpa/dmpa-donate-modules.jpg" | url }} loading="lazy" alt="mockups of the donation module at various sizes to illustrate the responsive nature of page components">
    <div class="embedded-figure">
        <p class="codepen" data-height="750" data-theme-id="24488" data-default-tab="css" data-user="rcyou" data-slug-hash="oWMobP" style="height: 750px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Module Demo">
          <span>See the Pen <a href="https://codepen.io/rcyou/pen/oWMobP">
          Module Demo</a> by Ryan Young (<a href="https://codepen.io/rcyou">@rcyou</a>)
          on <a href="https://codepen.io">CodePen</a>.</span>
        </p>
        <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
    </div>
</figure>

<section class="page-margin contained">
    <h2 id="interaction-design">The mobile experience</h2>
    <p>One of the beauties of taking a modular, Object-Oriented approach is the emphasis on prioritized content, which is also key when designing mobile first. Demonstrating to stakeholders how these interconnected components could operate more or less like Lego<sup>®</sup> blocks made it easier to keep the desktop and mobile in perspective at once.</p>
    <p>On some static, informational landing pages, a sidebar for related content helped users explore deeper. However, the layout stacking order meant the links would be eventually burried on mobile screens. To maintain visibility, we turn this into a collapsed menu fixed to the bottom of the screen. </p>
</section>

<figure class="large page-margin">
    <img src={{ "/images/dmpa/dmpa-mobile-screens.jpg" | url }} loading="lazy" alt="mockups showing the proposed website mobile menu and the event list">
</figure>

<section class="page-margin contained">
    <span class="small-text-16 mono eyebrow">Reflections &amp; Learnings</span>
    <h2>What I liked</h2>
    <p>Applying a different methodology, which was also still pretty new at the time, really helped demonstrate a deeper value to design early on. Thinking of content as objects also provided a better lense for our team to view the project and the work to be done since we were litteraly building the components and defining the database structure feeding into the content management system.</p>
    <h2>What I learned</h2>
    <p>I learned how to have meaningful conversations about design with stakeholders that made them part of the process and yielded tangible information I could use in the redesign. Producing artifacts from these conversations or providing visual aids during them also kept goals and outcomes clear.</p>
    <h2>What I lacked</h2>
    <p>While not necessarily a hinderance, the project lacked a dedicated, unified team. At the start of the project, our project manager was out on maturnity leave, and I absorbed those duties into my role as designer. The OOUX framework helped make the adjustment seamless. However, it was a bit harder to catch everyone up later on when the team was at full strength.</p>
    <h2>What I longed For</h2>
    <p>In retrospect, user feedback would have been valuable when we started working on the information architecture for the site. While I felt confident in the site analytics and anecodtal information provided by key stakeholders, understanding the customers’ mental model and how they navigate the site would have gleaned actionable insight.</p>
</section>