---
layout: layouts/tpl.liquid
seoTitle: Select Design Projects
metaDescription: Screens and snippets from past projects that demonstrate design abilities
primaryTitle: Select Design Projects
---
<section id="lede" class="page-margin contained">
	<h1>{{ primaryTitle }}</h1>
    <p class="summary big-text-20">{{ metaDescription }}</p>
    <div class="summary-list">
        <span class="small-text-14 mono eyebrow">Role & Activities</span>
        <ul class="bullet-list">
            <li>Visual/UI Design</li>
            <li>Interaction Design</li>
            <li>Prototyping</li>
            <li>Illustration</li>
            <li>Icon Design</li>
        </ul>
    </div>
</section>

<section class="page-margin contained">
    <span class="small-text-14 mono eyebrow">Project</span>
    <h2>Goldfinch DSM</h2>
    <p>A redesign for a website I’d done for a farm-to-table restaurant downtown that has since closed.</p>
</section>

<figure class="large double-img page-margin">
    <img class="border" src="{{ '/images/assorted/goldfinch-home.jpg' | url }}" loading="lazy" alt="homepage showing a way for users to make a reservation, browse the food menu, and rent a party space">
    <img class="border" src="{{ '/images/assorted/goldfinch-catering.jpg' | url }} " alt="website form for submitting a catering request">
</figure>
<section class="page-margin contained">
    <span class="small-text-14 mono eyebrow">Project</span>
    <h2>Electric RV app &amp; Mascot</h2>
    <p>An app concept that gives eco-friendly RV owners a way to track their electricity usage.</p>
</section>
<figure class="large three-imgs page-margin">
    <img class="border" src="{{ '/images/assorted/rv-app-home.jpg' | url }}" loading="lazy" alt="app home screen showing 86 percent battery charge and other battery information">
    <img class="border" src="{{ '/images/assorted/rv-usage-chart.jpg' | url }}" loading="lazy" alt="a chart screen showing recent battery usage over time">
    <img class="border" src="{{ '/images/assorted/rv-charging-station.jpg' | url }}" loading="lazy" alt="a map screen showing a birds eye view of the RV's current location and nearby charging stations">
</figure>
<figure class="large page-margin">
    <img src="{{ '/images/assorted/rv-characters.png' | url }}" loading="lazy" alt="An anthropomorphic RV character in happy, annoyed, tired, and sleepy moods">
</figure>
<section class="page-margin contained">
    <span class="small-text-14 mono eyebrow">Project</span>
    <h2>Red Media</h2>
    <p>Website landing page concept for Hy-Vee's new media company aimed at helping brands like Pepsi &amp; Frito Lay connect with digital shoppers.</p>
</section>
<figure class="med page-margin">
    <img class="rounded" src="{{ '/images/assorted/red-media-light.jpg' | url }}" loading="lazy" alt="landing page focused on selling advertising opportunities to big, national brands">
</figure>
<section class="page-margin contained">
    <span class="small-text-14 mono eyebrow">Project</span>
    <h2>In-flight service manager</h2>
    <p>Tablet interface for helping airline crew members manage passanger requests during long flights.</p>
</section>
<figure class="med double-img page-margin">
    <img class="border" src="{{ '/images/assorted/airline-request-made.jpg' | url }}" loading="lazy" alt="list of passengers and their current availability">
    <img class="border" src="{{ '/images/assorted/airline-requests-list.jpg' | url }}" loading="lazy" alt="list of requests passengers have made for flight attendants">
</figure>
<figure class="med page-margin">
    <img class="border" src="{{ '/images/assorted/airline-sorted-list.jpg' | url }}" loading="lazy" alt="an organized list of all recent passenger requests, sorted by type of beverage requested">
</figure>
<figure class="med double-img page-margin">
    <img class="border" src="{{ '/images/assorted/airline-take-break.jpg' | url }}" loading="lazy" alt="a screen suggesting the flight attendant should take a break">
    <img class="border" src="{{ '/images/assorted/airline-empty-state.jpg' | url }}" loading="lazy" alt="screen showing a flight attendant that no requests have been made">
</figure>
<section class="page-margin contained">
    <span class="small-text-14 mono eyebrow">Project</span>
    <h2>Sidebar coffee shop</h2>
    <p>One-page site redesign for a local coffee shop now under new managament.</p>
</section>
<figure class="med stacked-imgs page-margin">
    <img class="border" src="{{ '/images/assorted/sidebar-redesign-desktop.jpg' | url }}" loading="lazy" alt="menu for coffee shop showing many types of snacks and beverages">
    <img src="{{ '/images/assorted/sidebar-icon-set.jpg' | url }}" loading="lazy" alt="line icons of various drinkware and coffee-making appliances">
</figure>
<section class="page-margin contained">
    <span class="small-text-14 mono eyebrow">Project</span>
    <h2>FedEx international shipping</h2>
    <p>Persona and storyboard illustrations used during the research phase of a project seeking to improve the international shipping experience for small- and medium-sized business owners worldwide.</p>
</section>
<figure class="med stacked-imgs page-margin">
    <img src="{{ '/images/assorted/shipping-persona.jpg' | url }}" loading="lazy" alt="illustration of a woman checking her laptop for orders">
    <img src="{{ '/images/assorted/shipping-scenario-storyboard.jpg' | url }}" loading="lazy" alt="illustration of a woman frustrated by what is on her laptop">
</figure>
<section class="page-margin contained">
    <span class="small-text-14 mono eyebrow">Project</span>
    <h2>Daily UI challenge</h2>
    <p>Landing page design in anticipation for the final season of Game of Thrones.</p>
</section>
<figure class="large page-margin">
    <img src="{{ '/images/assorted/coming-soon-ui.jpg' | url }}" loading="lazy" alt="a screen with a large blue dragon eye asking for your phone number in order to send you update text messages">
</figure>