<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <link rel="stylesheet" href={{ "/css/styles.css" }}> 
  <link rel="canonical" href={{ rootURL }}{{ page.url }}>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Roboto+Mono:wght@100..700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {% include "./partials/swiper.liquid" %}

  <script src={{ "/js/main.js" }}></script>
  <title>{{ seoTitle }} | {{ masthead }}</title> 
  <meta name="description" content="{{ metaDescription }}">    
</head>