<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:locale" content="en_US" />
  <link href="/images/favicon-black.ico" rel="icon" media="(prefers-color-scheme: light)"/>
  <link href="/images/favicon-white.ico" rel="icon" media="(prefers-color-scheme: dark)"/>
  <link href="/images/favicon.ico" rel="shortcut icon"/>
  <link rel="stylesheet" href={{ "/css/styles.css" }}> 
  <link rel="canonical" href={{ rootURL }}{{ page.url }}>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Roboto+Mono:wght@100..700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {% include "./partials/swiper.liquid" %}

  <script src={{ "/js/main.js" }}></script>
  <title>{{ seoTitle }} | {{ masthead }}</title>
  <meta property="og:title" content="{{ seoTitle }}"/>
  <meta name="description" content="{{ metaDescription }}">
  <meta property="og:description" content="{{ metaDescription }}">
  <meta property="og:url" content="{{ rootURL }}{{ page.url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ rootURL }}{{ ogImagePath }}">  
</head>