<section id="projects" class="page-margin contained"> 
    <div class="section-header">
        <h2>Design in action</h2>
    </div>
    <ul>
        <li class="project-card">
            <a href="/grocery-wearables/" aria-label="Storyboarding Wearables for Inclusivity" title="In-Store Wearables Storyboards">
                <img  src="{{ 'images/grocery/project-img-grocery.jpg' | url }}" loading="lazy" alt="illustrations of an earbud and a smart watch">
                <div class="project-description">
                    <span class="small-text-14 mono eyebrow">Storyboards &amp; User Journey</span>
                    <h2 class="project-name">In-Store Wearables</h2>
                    <p class="project-summary">Illustrating how sensory-focused tech can help retailers create an inclusive shopping experience for customers of all abilities.</p>
                </div>
            </a>
        </li>

        <li class="project-card">
            <a href="/global-nav/" aria-label="Designing a Truly Universal Navigation Case Study" title="Global Navigation Case Study">
                <img src="{{ 'images/global-nav/project-img-gn.jpg' | url }}" loading="lazy" alt="angled laptop showing a grocery retail website">
                <div class="project-description">
                    <span class="small-text-14 mono eyebrow">Navigation System Design</span>
                    <h2 class="project-name">Universal Navigation</h2>
                    <p class="project-summary">Helping product teams eliminate friction by creating a seamless browsing experience for a regional grocery chain.</p>
                </div>
            </a>
        </li>

        <li class="project-card">
            <a href="/bore-planning-embedded-app/" aria-label="Embedded Software App Design Case Study" title="Embedded Software App Case Study">
                <img src="{{ 'images/bore/project-img-bore.jpg' | url }}" loading="lazy" alt="a man on an underground drilling rig">
                <div class="project-description">
                    <span class="small-text-14 mono eyebrow">Embedded Software App Design</span>
                    <h2 class="project-name">Far From Boring <span class="emoji">🔒</span></h2>
                    <p class="project-summary">Digging deep into the world of directional drilling to keep construction crews safe</p>
                </div>
            </a>
        </li>

        <li class="project-card cta-card">
            <a href="mailto:ryan.young@p3uplift.com" aria-label="Email me" title="Let's Work Together">
                <div class="project-description">
                    <span class="small-text-14 mono eyebrow">What's holding you back?</span>
                    <h2 class="project-name">Let's Work Together!</h2>
                    <p class="project-summary">Design leadership &amp; customer-centered ingenuity for companies solving hard problems and scaling faster than their design culture.</p>
                    <button class="cta-btn">Email Ryan</button>
                </div>
            </a>
        </li>  

        <li class="project-card">
            <a href="/opioid-prescription-app/" aria-label="Opioid Presciption Assistant App Case Study" title="Opioid Presciption Assistant App">
                <img src="{{ '/images/opioid/project-img-opioid.jpg' | url }} " alt="detail screenshots of a medical app">
                <div class="project-description">
                    <span class="small-text-14 mono eyebrow">Mobile App Design</span>
                    <h2 class="project-name">Opioid Presciption Assistant</h2>
                    <p class="project-summary">How might we help diminish the number of opioid overdoses in the United States?</p>
                </div>
            </a>
        </li>

        <li class="project-card">
            <a href="/dmpa-website-redesign/" aria-label="Des Moines Performing Arts Case Study" title="Des Moines Performing Arts Redesign">
                <img src="{{ 'images/dmpa/project-img-dmpa.jpg' | url }}" loading="lazy" alt="tiled images of past performances, including aladdin and a cream tribute band">
                <div class="project-description">
                    <span class="small-text-14 mono eyebrow">Website Redesign</span>
                    <h2 class="project-name">Des Moines Performing Arts</h2>
                    <p class="project-summary">User experience improvements, plus a design system, for central Iowa’s largest arts & entertainment organization.</p>
                </div>
            </a>
        </li>

        <li class="project-card" aria-hidden="true">
            <a href="/arts-festival-app/" aria-label="Arts Festival Mobile App Case Study" title="Arts Festival App Redesign">
                <img src="{{ 'images/arts-fest/project-img-arts.jpg' | url }}" loading="lazy" alt="a woman taking a photo of a piece of art at an outdoor festival">
                <div class="project-description">
                    <span class="small-text-14 mono eyebrow">Mobile App Design</span>
                    <h2 class="project-name">Arts Festival App</h2>
                    <p class="project-summary">Making it easier for festival goers keep track of artists they’ve seen & the ones they want to follow.</p>
                </div>
            </a>
        </li>

        <li class="project-card" aria-hidden="true">
            <a href="/select-projects/" aria-label="Assorted Project Snippets" title="Select UI Examples">
                <img src="{{ 'images/assorted/project-img-assorted.jpg' | url }}" loading="lazy" alt="screen detail of a modal that says you deserve some down time with a coffe mug">
                <div class="project-description">
                    <span class="small-text-14 mono eyebrow">Eye Candy</span>
                    <h2 class="project-name">Select Design Projects</h2>
                    <p class="project-summary">Looking for more design examples? Check out these screens &amp; snippets from past projects.</p>
                </div>
            </a>
        </li>        
    </ul>
</section>